<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <add_address_field>
            <general>
                <shipping_field_configuration>
                    <item1>
                        <field_label>Nickname</field_label>
                        <field_code>nickname</field_code>
                        <sort_order>999</sort_order>
                        <visible>1</visible>
                    </item1>
                </shipping_field_configuration>
            </general>
        </add_address_field>
    </default>
</config>
