<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_save">
        <observer
            name="custom_admin_system_config_changed_section_add_address_field"
            disabled="false"
            instance="Bluethinkinc\AddNewAddressField\Observer\AddressAttribute"/>
    </event>
</config>
